<%if flash[:errors]%>
    <%=flash[:errors].each do |message|%>
        <%="ERROR: #{message}"%>
    <%end%>
<%end%>
<%=form_for @movie do |f|%>
    <%=f.label :title%>
    <%=f.text_field :title%>
     <div>
        <p>Please include full embed link for your movie</p>
        <%=f.label 'Link: '%>
        <%=f.text_area :url%>
    </div>
    <%= f.label :description, "Movie Description: " %>
    <%= f.text_area :description %>
    <%= f.label :poster %><br>
    <%= f.file_field :poster %>
    <%if @current_user.nil? || !@current_user.is_admin && @current_user != @movie.user%>
    <%else %>
    <%= f.label :acceptance_status %>
    <%= f.text_field :acceptance_status%><br>     
    <%end%>
    <%=f.hidden_field :user_id, value: @current_user.id%>
    <%=f.submit%>
<%end%>