<h1> user show PAGE </h1>


<p>Name <%= @user.name %><br>
email <%= @user.email %><br>
avatar <br> <%= image_tag(@user.avatar) %>

<%= button_to "edit",edit_user_path, method: :get %></p>
<div class=list-of-movies >
LIST OF MOVIES:
<ul class= scroller>
    <% @user.movies.each do |movie| %>
        <div class=movie-container>
        <li>
        <%= image_tag(movie.poster) %>
        <%= link_to movie.title, movie_path(movie) %>
        <li>
        </div>
    <% end %>
</ul>