<h1> user show PAGE </h1>


<p style= "text-align: center">Name <%= @user.name %><br>
email <%= @user.email %><br>

<% if @user.avatar.attached? %>
<br> <%= image_tag(@user.avatar, class: 'avatar') %> <br>
<% end %>

<%= button_to "edit",edit_user_path, method: :get , style: 'vertical-align: middle'%></p>
<div class=list-of-movies >
<% if !@user.movies.empty? %>
<h2>LIST OF MOVIES:</h2>
<ul class= scroller>
    <% @user.movies.each do |movie| %>
        <div class=movie-container>
        <p>
        <%= image_tag(movie.poster) %>
        <%= link_to movie.title, movie_path(movie) %>
        </p>
        </div>
    <% end %>
</ul>
<% end %>