

<%if @movie%>    
    <h1><%=@movie.title%></h1>
    <div class ="resp-container"> 
        <iframe 
            class='resp-iframe' 
            style= "background-size: 100%; background-repeat: no-repeat; background-image: url('https://i.pinimg.com/originals/20/ce/eb/20ceeb06601430b18bd11cb3244cb40f.jpg')" 
            src= <%=@movie.parse_url %> 
            frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe> 
    </div>
    <% @comments.sort_by{:created_at}.each do |comment|%>
        <p class= "comment"><%=comment.comment_text%></p>
    <%end%>
     <%=form_for @comment do |f|%>
        <%= f.text_area :comment_text %>
        <%=f.hidden_field :user_id, value: @current_user.id %>
        <%=f.hidden_field :showing_id, value: Showing.today.id%>
        <%=f.submit%>
    <%end%>
<%else%>
<h1>No premier scheduled </h1>
<%end%>
<%=button_to “Pending Movies”, ‘movies/status/pending’, method: :get%>
<%=button_to “Schedule”, ‘showings/new’, method: :get%>



