
<h1>Rails Dance Film Festival</h1>
<div>    
    <%if @current_user%>
        <%="Welcome #{@current_user.name}"%>
        <%=button_to 'Log Out', login_path, method: :delete%>
    <%else%>
        <%=button_to 'Sign-up', new_user_path, method: :get %>
        <%=button_to 'Login', login_path, method: :get %>
    <%end%>
</div>
<div>premier:
    <%=link_to Showing.today.movie.title, premier_path%>
</div>
<div><%=link_to 'Movie Gallery', movies_path%></div>
<div>movies mvp</div><br>
<div>
<table>
    <thead><th> Movie Premieres for This Week </th></thead>
    <tbody>

        <%Showing.this_week.each do |showing|%>
           <tr>
                <td> <%="#{showing.time.strftime("%A")}"%> </td>
                <td> <%= "#{showing.movie.title}"%> </td>
                <td> <%= link_to "Ticket time?????",  movie_path(showing.movie)%> </td>
           </tr>
        <%end%>
   
            </tbody>
            </table>

</div>
<div>brief site explanation</div>
<div>about us / contact us</div>