
    
<div class="container premier-details">
<h1 style="text-align: center">Film of the Day</h1>
    <div class="row">
        <div class="col-md-6 left-box" style="text-align: center">
            <%= image_tag(Showing.today.movie.poster, class: "movie-poster") %>
        </div>
        <div class="col-md-6 right-box ">
            <h2> <%= Showing.today.movie.title %> </h2>
            <p> <%=Showing.today.movie.description %> </p>
            <p> Creator(s) </p>
            <div class= "creator-info">
            <%= link_to image_tag(Showing.today.movie.user.avatar, title: Showing.today.movie.user.name), user_path(Showing.today.movie.user) %>
            </div>
            <%= link_to "Watch Now", premier_url %>            
        </div>
    </div>
</div>
<div class = "container this-weeks-showings">
<h2 style= "text-align: center"> Movie Premieres for This Week </h2>
<div class="row">

<%Showing.this_week.each do |showing|%>
   <div class="col-md-4">
   <div class= "col-6" style="text-align: center">
   <h2><%="#{showing.time.strftime("%B " +"%e "+ "%Y ")}"%></h2><br>
   <%= image_tag(showing.movie.poster)%> </div>
        <div class= "col-6" style="text-align: center">
            <p><%= showing.movie.title %><br>
            <%= link_to "Reserve Ticket",  movie_path(showing.movie)%> </p>
         </div>
    </div>
    
 <%end%>


</div>
