
<h1>Rails Dance Film Festival</h1>
*To do: User Show Page - add movie submission button?* added link on user page
*To do: Premier Page - Comment/Delete button?*
*To do: validates showing for accepted?*    
*To do: Movie New page - remove user drop down?*
*To do: is mature filter for movies and premier?*
*To do: Review Movies page?*
*To do: Schedule Movies page?*
<div>    
    <%if @current_user%>
        <%=link_to "Welcome #{@current_user.name}", user_path(@current_user)%>
        <%=button_to 'Log Out', login_path, method: :delete%>
    <%else%>
        <%=button_to 'Sign-up', new_user_path, method: :get %>
        <%=button_to 'Login', login_path, method: :get %>
    <%end%>
</div>
<div>premier:
    <%if Showing.today%>
        <%=link_to Showing.today.movie.title, premier_path%>
    <%else%>
        <%="No movie scheduled today"%>
    <%end%>
</div>
<div><%=link_to 'Movie Gallery', movies_path%></div>
<div>movies mvp</div><br>
<div>
<table>
    <thead><th> Movie Premieres for This Week </th></thead>
    <tbody>

        <%Showing.this_week.each do |showing|%>
           <tr>
                <td> <%="#{showing.time.strftime("%A")}"%> </td>
                <td> <%= "#{showing.movie.title}"%> </td>
           </tr>
        <%end%>
   
            </tbody>
            </table>

</div>
<div>brief site explanation</div>
<div>about us / contact us</div>