#link to login -
#premier - poster, name and link to
#movies -for MVP = highlights a few random films. FInal-  highlight most viewed files
#link to movies
#schedule week
#rails festival blurb
#contact us - link?
# about us- link/
<div><%=button_to 'Login', login_path, method: :get %></div> #link to login page
<div>premier:
    <%=link_to Showing.today.movie.title, premier_path%>
</div> #showcase for actual premier file
<div><%=link_to 'Movie Gallery', movies_path%></div>
<div>movies mvp</div><br>
<div>
<table>
    <thead><th> Movie Premieres for This Week </th></thead>
    <tbody>

        <%Showing.this_week.each do |showing|%>
           <tr>
                <td> <%="#{showing.time.strftime("%A")}"%> </td>
                <td> <%= "#{showing.movie.title}"%> </td>
                <td> <%= link_to "Ticket time?????",  movie_path(showing.movie)%> </td>
           </tr>
        <%end%>
   
            </tbody>
            </table>

</div>
<div>brief site explanation</div>
<div>about us / contact us</div>